<mat-toolbar>
    <button class="dropdown-menu" mat-icon-button (click)="sidenavOpen()"> <mat-icon>menu</mat-icon></button>
    <span href="" class="button-home">MY PROJECT</span>

    <ul>
        <li><a routerLink="" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a routerLink="saleShoes" routerLinkActive="is-active">Sale</a></li>
        <li><a routerLink="manShoes" routerLinkActive="is-active">Man</a></li>
        <li><a routerLink="womanShoes" routerLinkActive="is-active">Woman</a></li>
        <li  *ngIf="isAuthenticated"><a routerLink="shoppingBag" routerLinkActive="is-active"><mat-icon>shopping_bag</mat-icon></a></li>
        <li *ngIf="!isAuthenticated"><a routerLink="SignUp-Login" routerLinkActive="is-active"  >Login</a></li>
        <li *ngIf="isAuthenticated"><a (click)="onLogout()" style="cursor:pointer ;">Logout</a></li>
    </ul>

</mat-toolbar>