<div class="input-search section bd-grid">
    <div class="first-input ">

        <mat-form-field appearance="fill" >
            <mat-label>Search your shoes</mat-label>
            <input matInput placeholder="Es: Nike Jordan">
        </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Size Shoes</mat-label>
                <mat-select [(value)]="number" name="shoes">
                    <mat-option *ngFor="let numberShoe of numberShoes" [value]="numberShoe.value">
                        {{numberShoe.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        <button mat-raised-button color="primary">FOUND</button>
    </div>
    <div class="section bd-grid">
        <div class="section-title">
                <h2 class="section-title">WOMAN SHOES</h2>
            
                <div class="container-shoes bd-grid">
                    <article class="sneaker" *ngFor="let shoe of shoes; let i = index">
                        <img [src]=shoe.imagePath alt="" class="sneaker__img">
                        <span class="sneaker__name">{{shoe.name}}</span>
                        <span class="sneaker__preci">{{shoe.price}}</span>
                        <a href="" class="button-light" (click)="addCartList(i)">Add to Cart <mat-icon>arrow_forward</mat-icon></a>
                    </article>
                    <!-- <article class="sneaker">
                        <img src="../../../assets/img/women2.png" alt="" class="sneaker__img">
                        <span class="sneaker__name">Nike Free TR</span>
                        <span class="sneaker__preci">$129.99</span>
                        <a href="" class="button-light">Add to Cart <mat-icon>arrow_forward</mat-icon></a>
                    </article>
                    <article class="sneaker">
                        <img src="../../../assets/img/women3.png" alt="" class="sneaker__img">
                        <span class="sneaker__name">Nike GS Pink</span>
                        <span class="sneaker__preci">$129.99</span>
                        <a href="" class="button-light">Add to Cart <mat-icon>arrow_forward</mat-icon></a>
                    </article>
                    <article class="sneaker">
                        <img src="../../../assets/img/women4.png" alt="" class="sneaker__img">
                        <span class="sneaker__name">Nike GS Pink</span>
                        <span class="sneaker__preci">$129.99</span>
                        <a href="" class="button-light">Add to Cart <mat-icon>arrow_forward</mat-icon></a>
                    </article> -->
                </div>
        </div>
    </div>
</div>