
    <div class="section bd-grid">
        <div class="section-title">
                <h2 class="section-title">WOMAN SHOES</h2>
            
                <div class="container-shoes bd-grid">
                    <article class="sneaker" *ngFor="let shoe of shoes; let i = index">
                        <img [src]=shoe.imagePath alt="" class="sneaker__img">
                        <span class="sneaker__name">{{shoe.name}}</span>
                        <span class="sneaker__preci">{{shoe.price}}</span>
                        <a class="button-light add-button" (click)="addCartList(i)" >Add to Cart <mat-icon>arrow_forward</mat-icon></a>
                    </article>
                </div>
        </div>
    </div>
