.container-shoes{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  button{
    padding: 0;
    border: none;
    background:none;
    &:hover{
      color: blue;
    }
  }

.sneaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #F2F2F2;
    border-radius: .5rem;
    transition: .5s;
    mat-icon{
        margin-left: .5rem;
    }
  }
  
  .sneaker__sale{
    position: absolute;
    left: .5rem;
    background-color: #141414;
    color: #fff;
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: 1.25rem;
    transform: rotate(-90deg);
    letter-spacing: .1rem;
  }
  
  .sneaker__img{
    width: 220px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    transform: rotate(-30deg);
    filter: drop-shadow(0 12px 8px rgba(0,0,0,.2));
  }
  
  .sneaker__name, .sneaker__preci{
    font-size: 1.25rem;
    letter-spacing: .1rem;
    font-weight: 700;
  }
  
  .sneaker__name{
    margin-bottom: .5rem;
  }
  
  .sneaker__preci{
    margin-bottom: 2rem;
  }
  
  .sneaker:hover{
    transform: translateY(-.5rem);
    mat-icon{
        transition: .5s;
        transform: translateX(.55rem);
    }
  }

  .button-light{
    font-size: 1.5rem;
  }
