<div class="featured section">
    <h2 class="section-title">SALE SHOES</h2>

    <div class="container-shoes bd-grid">
        <article class="sneaker" *ngFor=" let sale of shoesSale; let i = index">
            <div class="sneaker__sale">Sale</div>
            <img [src]=sale.imagePath alt="" class="sneaker__img">
            <span class="sneaker__name">{{sale.name}}</span>
            <span class="sneaker__preci">{{sale.price}}</span>
            <button class="button-light" (click)="addShopList(i)">Add to Cart <mat-icon>arrow_forward</mat-icon></button>
        </article>

        <article class="sneaker">
            <div class="sneaker__sale">Sale</div>
            <img src="../../../assets/img/featured2.png" alt="" class="sneaker__img">
            <span class="sneaker__name">Nike Jordan</span>
            <span class="sneaker__preci">$149.99</span>
            <button class="button-light">Add to Cart <mat-icon>arrow_forward</mat-icon></button>
        </article>

        <article class="sneaker">
            <div class="sneaker__sale">Sale</div>
            <img src="../../../assets/img/featured3.png" alt="" class="sneaker__img">
            <span class="sneaker__name">Nike Jordan</span>
            <span class="sneaker__preci">$149.99</span>
            <button class="button-light">Add to Cart <mat-icon>arrow_forward</mat-icon></button>
        </article>
    </div>
</div>